body {
	font-family: 'Coming Soon', arial, serif;
	font-size: 20px;
	background-color: #ffffff;
	color: #222222;
}

#page {
	position: absolute;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	margin-top: 50px;
}

#left-col {
	width: 480px;
	float: left;
}

#right-col {
	width: 480px;
	float: right;
}

#banner {
	width: 500px;
	padding-left: 250px;
	padding-bottom: 30px;
}

#logo {
	font-family: 'Slackey', arial, serif;
	font-size: 40px;
}

#tagline {
	text-align: right;
}

h1 {
	font-family: 'Slackey', arial, serif;
	font-size: 20px;
}

a {
	text-decoration:none;
	color: blue;
}

a:hover {
	color: red;
}	

#openid-providers {
	list-style-type: none;
	width: 300px;
	padding-left: 80px;
	padding-top: 20px;
}

#openid-providers li {
	width: 140px;
	float: left;
	height: 60px;
}

.button {
	float: left;
	border-size: 1px;
	border-style: solid;
	border-color: black;
	background-color: azure;
	padding: 2px;
	width: 100px;
	text-align: center;
	font-family: arial;
	margin-right: 5px;
}