body {
	font-family: 'Coming Soon', arial, serif;
	font-size: 20px;
	background-color: azure;
	color: charcoal;
}

#page {
	position: absolute;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	margin-top: 50px;
}

#banner {
	width: 500px;
	padding-left: 250px;
	padding-bottom: 30px;
}

#logo {
	font-family: 'Slackey', arial, serif;
	font-size: 40px;
}

#tagline {
	text-align: right;
}

h1 {
	font-family: 'Slackey', arial, serif;
	font-size: 20px;
}

a {
	text-decoration:none;
	color: blue;
}

a:hover {
	color: red;
}	

#navbar {
	text-align: center;
	letter-spacing: 5px;
	font-weight: bold;
	width: 100%;
	padding-bottom: 30px;
}

#navbar li {
	display: inline;
	margin-right: 20px;
	color: blue;
}

#navbar li:hover {
	color: red;
	cursor: pointer;
}