<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<context-param>
		<param-name>rackup</param-name>
		<param-value>
			require 'rubygems'
			require 'sinatra'
			
			set :environment, :production
			set :app_file, 'app.rb'
			set :public, 'pub'
			disable :run
			
			require 'app'
			
			run Sinatra::Application
		</param-value>
	</context-param>

	<filter>
		<filter-name>RackFilter</filter-name>
		<filter-class>org.jruby.rack.RackFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>RackFilter</filter-name>
 		<url-pattern>*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.jruby.rack.RackServletContextListener</listener-class>
	</listener>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>The App</web-resource-name>
			<url-pattern>/app/*</url-pattern>
			<url-pattern>/api/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>